<!DOCTYPE html>
<html lang="zh_cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>发票列表</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/custom.css"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <span class="navbar-brand mb-0 h1">票票儿</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">记发票</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">看公司</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">查记录</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container p-3">
    <form class="invoice-form" action="" method="post">
        <div class="form-row">
            <div class="form-group col-lg col-sm-6">
                <label class="label col-form-label-sm" for="customerCompany">客户名称</label>
                <input class="form-control form-control-sm" type="text" id="customerCompany" name="customerCompany">
            </div>
            <div class="form-group col-lg col-sm-6">
                <label class="label col-form-label-sm" for="invoiceAmount">开票金额</label>
                <input class="form-control form-control-sm" type="number" step="0.01" id="invoiceAmount"
                       name="invoiceAmount"/>
            </div>
            <div class="form-group col-lg col-sm-6">
                <label class="label col-form-label-sm" for="status">开票状态</label>
                <select class="form-control form-control-sm" id="status" name="status">
                    <option value="0">未开</option>
                    <option value="1">已开</option>
                    <option value="2">票样</option>
                    <option value="3">不处理</option>
                </select>
            </div>
            <div class="form-group col-lg col-sm-6">
                <label class="label col-form-label-sm" for="invoiceSource">票口来源</label>
                <input class="form-control form-control-sm" type="text" id="invoiceSource"
                       name="invoiceSource"/>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-lg col-sm-6">
                <label class="label col-form-label-sm" for="invoiceDate">开票时间</label>
                <input class="form-control form-control-sm" type="date" id="invoiceDate" name="invoiceDate"/>
            </div>
            <div class="form-group col-lg col-sm-6">
                <label class="label col-form-label-sm" for="sendContract">合同原件</label>
                <select class="form-control form-control-sm" id="sendContract" name="sendContract">
                    <option value="false">未寄送</option>
                    <option value="true">已寄送</option>
                </select>
            </div>
            <div class="form-group col-lg col-sm-6">
                <label class="label col-form-label-sm" for="printScreen">打款截图</label>
                <select class="form-control form-control-sm" id="printScreen" name="printScreen">
                    <option value="false">无</option>
                    <option value="true">有</option>
                </select>
            </div>
            <div class="form-group col-lg col-sm-6">
                <label class="label col-form-label-sm" for="goodsSource">提货来源</label>
                <input class="form-control form-control-sm" type="text" id="goodsSource" name="goodsSource"/>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-lg col-sm-6">
                <label class="label col-form-label-sm" for="requirementDetail">具体要求</label>
                <input class="form-control form-control-sm text-control" type="text" id="requirementDetail"
                       name="requirementDetail"/>
            </div>
            <div class="form-group col-lg col-sm-6">
                <label class="label col-form-label-sm" for="comments">备注</label>
                <input class="form-control form-control-sm text-control" type="text" id="comments" name="comments"/>
            </div>
        </div>
        <div class="form-row">
            <button class="btn btn-light ml-auto" type="reset">重置</button>
            <button class="btn btn-primary" type="button" onclick="invoice.save(this)">提交发票</button>
        </div>
    </form>
    <table class="invoice-table table table-hover">
        <thead class="thead-light">
        <tr>
            <th scope="col">日期</th>
            <th scope="col">客户名称</th>
            <th scope="col">开票金额</th>
            <th scope="col">开票状态</th>
            <th scope="col">票口来源</th>
            <th scope="col">合同原件</th>
            <th scope="col">打款截图</th>
            <th scope="col">提货来源</th>
            <th scope="col">具体要求</th>
            <th scope="col">备注</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="invoice : ${invoices}">
            <td th:text="${invoice.createTime}"></td>
            <td th:text="${invoice.customerCompany}"></td>
            <td th:text="${invoice.invoiceAmount}"></td>
            <td th:text="${invoice.status}"></td>
            <td th:text="${invoice.invoiceSource}"></td>
            <td th:text="${invoice.sendContract ? '已寄送':'未寄送'}"></td>
            <td th:text="${invoice.printScreen ? '有' : '无'}"></td>
            <td th:text="${invoice.goodsSource}"></td>
            <td th:text="${invoice.requirementDetail}"></td>
            <td th:text="${invoice.comments}"></td>
        </tr>
        </tbody>
    </table>
</div>

<script id="alertTpl" type="text/html">
    <div class="alert alert-{{type}} alert-dismissible fade show" role="alert">
        <div class="container">
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</script>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>-->
<script src="/static/js/jquery-3.2.1.slim.min.js"></script>
<script src="/static/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/piaopiaoer.js"></script>
<script src="/static/js/template.js"></script>
</body>
</html>